* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ubuntu", sans-serif;
}

body {
    font-family: "ubuntu", sans-serif;
    font-weight: 400;
    background: #fff;
    font-size: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }

  .login-container h1, h2 {
    margin-bottom: 20px;
    color: #007BFF;
  }


  a {
    text-decoration: none;
    color: #008000;
}
  a:hover {
    background-color: #008000;
    color: #fff;
  }

  